main {
    padding: 20px;
}

.faq-section {
    text-align: center;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 20px;
}

.question {
    font-size: 24px;
    font-weight: bold;
}

.answer { font-size: 20px; color: black; line-height: 1;}

.faq-section h1 {
    text-decoration: underline;
    margin-bottom: 10px;
}
